.icon {
    color: red;
    visibility: hidden;
}

.imagemap {
    position: relative;
}

#m114 {
    position: absolute;
    top: 451px;
    left: 159px;
}

#m135 {
    position: absolute;
    top: 479px;
    left: 203px;
}

#m205 {
    position: absolute;
    top: 448px;
    left: 276px;
}

#m226 {
    position: absolute;
    top: 321px;
    left: 335px;
}
